.slick-slider {
  background-color: #f6f6f6;
  height: 100%;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slide-page {
  min-height: 300px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rabbit1 {
  width: 50%;
  height: 50%;
  padding-top: 20px;
}

p {
  text-align: center;
  padding: 20px;
  font-weight: 600;
}

.hole-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.hole {
  width: 100px;
  height: 100px;
}

.arrow {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.arrow:before,
.arrow:after {
  content: "";
  background: currentColor;
  width: 15px;
  clip-path: polygon(
    0 10px,
    calc(100% - 15px) 10px,
    calc(100% - 15px) 0,
    100% 50%,
    calc(100% - 15px) 100%,
    calc(100% - 15px) calc(100% - 10px),
    0 calc(100% - 10px)
  );
  animation: a2 1s infinite linear;
}

.arrow:before {
  transform: scaleX(-1);
}
@keyframes a2 {
  90%,
  100% {
    flex-grow: 0.5;
  }
}

.rude-rabbit {
  width: 100px;
  height: 120px;
}

.start-button {
  padding: 20px 50px;
  font-family: "poppins";
  font-weight: 600;
  font-size: 20px;
  background-color: #98ca00;
  border: green solid 3px;
  border-radius: 10px;
}

.start-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.start-button:active {
  transform: scale(1);
}
