.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  position: fixed;
  top: 0;
  border: #f9bd19 solid 8px;
  background-color: #f6f6f6;
  border-radius: 50px;
  width: calc(100vw - 25px);
  margin: 5px 10px 20px 5px;
  z-index: 100;
}

.logo {
  width: 50%;
  min-height: 70%;
  padding-left: 20px;
}

.leaderboard {
  list-style-type: none;
  font-family: "Poppins";
  padding-left: 20px;
  color: black;
  padding-right: 25px;
  font-size: 1em;
  text-align: right;
}
